
.container {
    width: 100%;
    margin-left: 20px;  
    margin-right: 20px;

  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heading {

    font-size: 20px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
  }
  .heading1{

    text-align: left;
   margin: 0;
   padding-left: 80px;
 padding: 40px;
    max-width: 1200px;
  }
  .seeAllWrapper {
    display: flex;
    align-items: center;
  }
  
  .seeAllImage {
    width: 200px;
    height: 50px;
object-fit: contain;
  
  }
  
  .propertyList {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
   padding: 20px; 
  margin: 0 auto;
  max-width: 1200px; 
  }
  