/* components/PropertyList.module.css */
/* components/PropertyList.module.css */
.container {
    width: 100%;
    margin-left: 20px;  /* Adjust these values as needed */
    margin-right: 20px;
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
  }
  
  .seeAllWrapper {
    display: flex;
    align-items: center;
  }
  
  .seeAllImage {
    width: 200px;
    height: 50px;
object-fit: contain;
  
  }
  
  .propertyList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px;
  }
  